<!DOCTYPE html >
<html lang="zh">
<head>
<title>小V商城用户注册协议</title>
  <{include file="public/header" /}>
</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back"><span></span></div>
  <div class="wy-header-title">注册协议</div>
</header>
<div class="weui-content">
  <article class="weui-article">
    <section class="wy-news-info font-16">

    </section>
  </article>
  
</div>

<{include file="public/footer" /}>
<script>
  bs_request("<{:url('get_xieyi_info')}>",{gtype:'reg'},function (res) {
    if (res.code==0 && res.data.article){

      $(".wy-news-info").html(res.data.article.content)
    }else {

    }
  })
</script>
</body>
</html>
