<!DOCTYPE html>
<html lang="zh">
<head>
    <title><{:isset($webConf.bs_title)?$webConf.bs_title:'BS后台管理'}></title>
    <{include file="public/header"}>
    <{include file="public/data_tables_css"}>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <{include file="public/navbar"}>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <!--左侧菜单-->
    <{include file="public/sidebar"}>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="<{:url('/admin/index/index')}>">首页</a></li>
                            <li class="breadcrumb-item"><a href="<{:url('/admin/user.index/index')}>">会员管理 </a></li>
                            <li class="breadcrumb-item"><a href="<{:url('/admin/user.index/login_log')}>">登录记录 </a></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">


                <div class="card">
                    <div class="card-header">
                        <form action="<{:url()}>">
                            <div class="form-row ">
                                <div class="col-auto">
                                    <input name="keyword" type="text"  class="form-control " placeholder="登录账号搜索" value="<{$Request.param.keyword?$Request.param.keyword:''}>">
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-2 "><i class="fas fa-search"></i></button>
                                    <a  onclick="location.reload()"  class="btn btn-default mb-2 bs-left-30" title="重置"><i class="fas fa-history"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <a class="btn btn-success btn-sm " href="<{:url('/admin/user.index/index')}>"><i class="fas fa-arrow-circle-left"></i>返回</a>
                        <table id="my_table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <td>账号</td>
                                <th>登录时间</th>
                                <th>IP</th>
                            </tr>
                            </thead>
                            <tbody>
                            <{if !empty($data)}>
                            <{foreach $data as $item}>
                            <tr>
                                <td>
                                    <{if !empty($item.user)}>
                                    账号：<{$item.user.account}> <br>
                                    昵称：<{$item.user.nickname}>
                                    <{else}>
                                    <span class="bs-red">已删除</span>
                                    <{/if}>
                                </td>
                                <td><{$item.add_time}></td>
                                <td><{$item.ip}></td>
                            </tr>
                            <{/foreach}>
                            <{/if}>



                            </tbody>

                        </table>
                    </div>
                    <div class="card-footer">
                        <{$page?$page->render():''}>
                    </div>

                </div>
            </div>
        </section>

    </div>


    <{include file="public/copyright"}>


</div>


<{include file="public/footer"}>
<!-- DataTables  & Plugins -->
<{include file="public/data_tables"}>
<script>

    $(function () {
        $("#my_table").DataTable({
            "ordering": false,//禁用排序
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
            // "pageLength": 10,         //初始化显示几条数据
            //serverSide: true, // use local process instead of server
            // bFilter: true, // show top right search input box.
            bPaginate: false,//是否开启分页
            //iDisplayLength: 10, //默认显示的记录数
            bInfo: false,//是否显示页脚信息，DataTables插件左下角显示记录数
        }).buttons().container().appendTo('#my_table_wrapper .col-md-6:eq(0)');

    });
</script>
</body>
</html>
